<div class="container-fluid" style="
   height: 729px;
width: 604px;
filter: drop-shadow(0 0 6.5px rgba(13,39,80,0.31));
background-image: linear-gradient(-56deg, #fefefe 0%, #fdfdfd 53%, #fdfdfd 97%, #fdfdfd 100%);"
>
  <div class="row">
    <div class="row mt-2">
      <span style="font-size: 17px;
      line-height: 16px;
      color: #0f47a2;
      font-weight: 700;
      font-family: 'Poppins';">Create Work Order</span>
    </div>
    <div class="row mt-3" style="font-size: 11px;
    letter-spacing: 0px;
    line-height: 12px;
    color: #868686;
    font-weight: 300;
    font-family: 'Poppins';">
      <span>Use this section to record any events related to truck or trailer maintenance,
        such as repairs, inspections, or maintenance tasks. You can also add follow-up notes,
        photos or documentation to keep track of the maintenance progress.
        Stay organized and informed
      </span>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col d-flex justify-content-center">
      <div class="btn-group" role="group" aria-label="Basic example" style="border-radius: 15px;">
        <button type="button btn-sm" class="btn btn-primary" style="filter: drop-shadow(3px 0px 2.5px rgba(0,0,0,0.14));
        font-size: 12px;
        background-color: #005be9;border-top-left-radius: 15px;border-bottom-left-radius: 15px;">
        Truck</button>


        <button type="" class="btn btn-secondary"
        style="filter: drop-shadow(2px 0px 1px rgba(27,27,27,0.05));
        font-size: 12px;
        background-color: #ffffff;
        color: #656565;
        border-top-right-radius: 15px;border-bottom-right-radius: 15px;">Trailer</button>
      </div>

    </div>
  </div>

  <div class="row">

   <div class="col-2"></div>
   <div class="col-8">





    <div class="input-group mb-3 mt-4">
      <div class="input-group-prepend me-1" style="border-radius: 5px;height: 30px;
      width: 90px;
      filter: drop-shadow(2px 0px 1px rgba(27,27,27,0.05));
background-image: linear-gradient(0deg, #f5f5f5 0%, #f9f9f9 100%);
border: 1px solid rgba(231,231,231,0.41);
">
        <span class="input-group-text" id="inputGroup-sizing-default">Truck</span>
      </div>
      <input style="border-radius: 5px;height: 30px;
      filter: drop-shadow(1px 0px 2.5px rgba(13,39,80,0.16));
background-image: linear-gradient(-56deg, #fefefe 0%, #ffffff 52%, #fefefe 100%);
text-align: center;font-size: 14px; color: #656565; font-weight: 400; line-height: 12px;"
       type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default"
       value="7996">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend me-1" style="border-radius: 5px;height: 30px;
      filter: drop-shadow(2px 0px 1px rgba(27,27,27,0.05));
background-image: linear-gradient(0deg, #f5f5f5 0%, #f9f9f9 100%);
border: 1px solid rgba(231,231,231,0.41);
">
        <span class="input-group-text" id="inputGroup-sizing-default">Brand</span>
      </div>
      <input style="border-radius: 5px;height: 30px;
      filter: drop-shadow(1px 0px 2.5px rgba(13,39,80,0.16));
background-image: linear-gradient(-56deg, #fefefe 0%, #ffffff 52%, #fefefe 100%); text-align: center;
font-size: 14px; color: #656565; font-weight: 400; line-height: 12px;"
      value="Freightliner Cascadia 2018"   type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend me-1" style="border-radius: 5px;height: 30px;
      filter: drop-shadow(2px 0px 1px rgba(27,27,27,0.05));
background-image: linear-gradient(0deg, #f5f5f5 0%, #f9f9f9 100%);
border: 1px solid rgba(231,231,231,0.41);
">
        <span class="input-group-text" id="inputGroup-sizing-default">Trailer #</span>
      </div>
      <input style="border-radius: 5px;height: 30px;
      filter: drop-shadow(1px 0px 2.5px rgba(13,39,80,0.16));
background-image: linear-gradient(-56deg, #fefefe 0%, #ffffff 52%, #fefefe 100%); text-align: center;
font-size: 14px; color: #656565; font-weight: 400; line-height: 12px;"
       value="365156" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend me-1" style="border-radius: 5px;height: 30px;
      filter: drop-shadow(2px 0px 1px rgba(27,27,27,0.05));
background-image: linear-gradient(0deg, #f5f5f5 0%, #f9f9f9 100%);
border: 1px solid rgba(231,231,231,0.41);
">
        <span class="input-group-text" id="inputGroup-sizing-default">Driver</span>
      </div>
      <input style="border-radius: 5px;height: 30px;
      filter: drop-shadow(1px 0px 2.5px rgba(13,39,80,0.16));
background-image: linear-gradient(-56deg, #fefefe 0%, #ffffff 52%, #fefefe 100%); text-align: center;
font-size: 14px; color: #656565; font-weight: 400; line-height: 12px;"
       value="Frederick Robinson" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend me-1" style="border-radius: 5px;height: 30px;
      filter: drop-shadow(2px 0px 1px rgba(27,27,27,0.05));
background-image: linear-gradient(0deg, #f5f5f5 0%, #f9f9f9 100%);
border: 1px solid rgba(231,231,231,0.41);
">
        <span class="input-group-text" id="inputGroup-sizing-default">Dispatcher</span>
      </div>
      <input style="border-radius: 5px;height: 30px;
      filter: drop-shadow(1px 0px 2.5px rgba(13,39,80,0.16));
background-image: linear-gradient(-56deg, #fefefe 0%, #ffffff 52%, #fefefe 100%); text-align: center;
font-size: 14px; color: #656565; font-weight: 400; line-height: 12px;"
      value="Bojana Bogdanovic" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend me-1" style="border-radius: 5px;
      height: 30px;
      filter: drop-shadow(2px 0px 1px rgba(27,27,27,0.05));
background-image: linear-gradient(0deg, #f5f5f5 0%, #f9f9f9 100%);
border: 1px solid rgba(231,231,231,0.41);
">
        <span class="input-group-text mb-1" id="inputGroup-sizing-default" >Load status</span>
      </div>
      <input style="border-radius: 5px;height: 30px;
      filter: drop-shadow(1px 0px 2.5px rgba(13,39,80,0.16));
background-image: linear-gradient(-56deg, #fefefe 0%, #ffffff 52%, #fefefe 100%); text-align: center;
font-size: 14px; color: #656565; font-weight: 400; line-height: 12px;"
       value="In transit" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
    </div>

    <button style="
    font-size: 12px;
line-height: 12px;
color: #828282;
font-weight: 700;
font-family: 'Poppins';
text-align: center;
    float: right;width: 65px;
    height: 32px;
    border-radius: 5px;
    filter: drop-shadow(1px 0px 3.5px rgba(13,39,80,0.16));
    background-image: linear-gradient(-56deg, #fafafa 0%, #fdfdfd 53%, #fdfdfd 97%, #fdfdfd 100%);
    border: none;
    ">Next</button>

   </div>
   <div class="col-2"></div>
  </div>

  <div class="row mt-2">
    <div class="col-2"></div>
    <div class="col-8">

      <span>
        <i class="bi bi-plus-circle-fill" style="
        font-size: x-large;
        color: whitesmoke;
        border-radius: 5px;
        filter: drop-shadow(2px 0px 1px rgba(27,27,27,0.05));
        background-color: #4f4f4f;
        border: 1px solid rgba(231,231,231,0.41);"></i>
      </span>

        <button class="ms-1 mb-3" style="width: 342px;
        height: 30px;
        border-radius: 5px;
        filter: drop-shadow(2px 0px 1px rgba(27,27,27,0.05));
        background-image: linear-gradient(0deg, #f5f5f5 0%, #f9f9f9 100%);
        border: 1px solid rgba(231,231,231,0.41); text-align: start;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 12px;
        color: #656565;
        font-weight: 700;
        font-family: 'Poppins';">Work order

          <span style="float: right;border-left: 1px solid black; ">
            <i class="bi bi-plus-circle-fill" style="margin-left: 7px; font-size: large;"></i>
          </span>
          <span style="float: right;border-left: 1px solid black; ">
            <i class="bi bi-pencil-square" style="margin-left: 7px;margin-right: 7px;font-size: large;" ></i>
          </span>

        </button>

        <i class="bi bi-journal-text" style="
        font-size: x-large;
        border-radius: 5px;
        color: whitesmoke;
        filter: drop-shadow(2px 0px 1px rgba(27,27,27,0.05));
        background-color: #4f4f4f;
        border: 1px solid rgba(231,231,231,0.41);"></i>
        <button class="ms-1 mb-3" style="width: 342px;
        height: 30px;
        border-radius: 5px;
        filter: drop-shadow(2px 0px 1px rgba(27,27,27,0.05));
        background-image: linear-gradient(0deg, #f5f5f5 0%, #f9f9f9 100%);
        border: 1px solid rgba(231,231,231,0.41); text-align: start;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 12px;
        color: #656565;
        font-weight: 700;
        font-family: 'Poppins';">Contact details

        </button>
        <i class="bi bi-credit-card-2-back-fill" style="
        font-size: x-large;
        border-radius: 5px;
        color: whitesmoke;
        filter: drop-shadow(2px 0px 1px rgba(27,27,27,0.05));
        background-color: #4f4f4f;
        border: 1px solid rgba(231,231,231,0.41);"></i>
        <button class="ms-1 mb-3" style="width: 342px;
        height: 30px;
        border-radius: 5px;
        filter: drop-shadow(2px 0px 1px rgba(27,27,27,0.05));
        background-image: linear-gradient(0deg, #f5f5f5 0%, #f9f9f9 100%);
        border: 1px solid rgba(231,231,231,0.41); text-align: start;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 12px;
        color: #656565;
        font-weight: 700;
        font-family: 'Poppins';">Payment details

          <span style="float: right;border-left: 1px solid black; ">
            <i class="bi bi-plus-circle-fill" style="margin-left: 7px; font-size: large;"></i>
          </span>
          <span style="float: right;border-left: 1px solid black; ">
            <i class="bi bi-pencil-square" style="margin-left: 7px;margin-right: 7px;font-size: large;" ></i>
          </span>

        </button>


        <i class="bi bi-flag-fill"style="
      font-size: x-large;
      color: whitesmoke;
      border-radius: 5px;
      filter: drop-shadow(2px 0px 1px rgba(27,27,27,0.05));
      background-color: #4f4f4f;
      border: 1px solid rgba(231,231,231,0.41);"></i>
        <button class="ms-1 mb-3" style="width: 342px;
        height: 30px;
        border-radius: 5px;
        filter: drop-shadow(2px 0px 1px rgba(27,27,27,0.05));
        background-image: linear-gradient(0deg, #f5f5f5 0%, #f9f9f9 100%);
        border: 1px solid rgba(231,231,231,0.41); text-align: start;
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 12px;
        color: #656565;
        font-weight: 700;
        font-family: 'Poppins';">Start/End

        </button>

    </div>
    <div class="col-2"></div>
  </div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8 d-flex justify-content-between">
      <button style="
      font-size: 12px;
line-height: 12px;
color: #777777;
font-weight: 700;
font-family: 'Poppins';
text-align: center;
      width: 85px;
      height: 35px;
      border-radius: 18px;
      filter: drop-shadow(1px 0px 3.5px rgba(13,39,80,0.16));
      background-image: linear-gradient(-56deg, #fefefe 0%, #fdfdfd 53%, #fdfdfd 97%, #fdfdfd 100%);border: none;">Discard</button>
      <button style="width: 85px;
      height: 35px;
      border-radius: 18px;
      filter: drop-shadow(3px 0px 2.5px rgba(0,0,0,0.14));
      background-color: #005be9;
      font-size: 12px;
line-height: 12px;
color: #ffffff;
font-weight: 700;
font-family: 'Poppins';
text-align: center;
border: none;
      ">Finish</button>
    </div>
    <div class="col-2"></div>
  </div>

</div>
