.mat-button-toggle{
  background-color: #306cee;
  color: #ffffff;
}

.mat-button-toggle-checked {
  background-color: #ec2c4c;
  color: #67ec79 !important;
}

.input-group-prepend{
  width: 90px;
}

.input-group-text {
font-size: 11px;
letter-spacing: 0px;
line-height: 12px;
color: #898989;
font-weight: 700;
font-family: "Poppins";
text-align: start;
color: #898989;
border: 0;
margin-top: 5px;
}

label {

  background-color: red;
  color: black;


}
